//scss file for overriding the form controlls
.form-group {
    position: relative;
    .fa {
        position: absolute;
        right: 5px;
        top: 35px;
        &.tags{
            top: 41px;
        }   
    }
    .form-control {
        width: 100%;
        display: inline-block;
        padding-right: 30px;
    }
    .fa-exclamation-circle {
        color: #a91d3c;
    }
    .fa-check-circle {
        color: #19d156;
    }
    tags-input {
        .host {
            height: 34px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        .tags {
            border: 0px solid white;
            border-radius: 4px;
        }
        &.ng-invalid .tags {
            -webkit-box-shadow:none;
            -moz-box-shadow: none;
            box-shadow:none;
        }
    }
}
